---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&apple_idfa_tracking_enabled=false&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=d9b3e7fc5e5e9022c4b8e8f9452942f8562fd084&ip=109.235.143.113&locale=de&offer_types=112&page=1&pub0=testpub&timestamp=1430044326&uid=testuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - dd89c5b1c1edf0a8d2f2e41557767a8a2542a556
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"code":"OK","message":"Ok","count":30,"pages":4,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=testuid"},"offers":[{"title":"Gratis
        Prepaid-SIM","offer_id":356777,"teaser":"Bestellen Sie bis zu zwei o2 Loop
        Freikarten. Jetzt kostenlos bestellen.","required_actions":"Bestellen Sie
        bis zu zwei o2 Loop Freikarten. Jetzt kostenlos bestellen.","link":"http://api.sponsorpay.com/d71f32e7d485f79b2858bcac4b0ecef2/cf1dae96466c8126/mobile/DE/157/offers/356777","offer_types":[{"offer_type_id":105,"readable":"Registrierung"},{"offer_type_id":112,"readable":"Gratis"}],"payout":74295,"time_to_payout":{"amount":600,"readable":"10
        Minuten"},"thumbnail":{"lowres":"http://cdn3.sponsorpay.com/assets/15196/offerwall-02_square_60.jpg","hires":"http://cdn3.sponsorpay.com/assets/15196/offerwall-02_square_175.jpg"},"store_id":""},{"title":"Katalog
        Kiosk","offer_id":99852,"teaser":"Melde dich f\u00fcr Newsletter deiner Wahl
        an und best\u00e4tige deine Email","required_actions":"Melde dich f\u00fcr
        Newsletter deiner Wahl an und best\u00e4tige deine Email","link":"http://api.sponsorpay.com/d71f32e7d485f79b2858bcac4b0ecef2/90e65dda8e0d95ff/mobile/DE/157/offers/99852","offer_types":[{"offer_type_id":105,"readable":"Registrierung"},{"offer_type_id":112,"readable":"Gratis"}],"payout":10294,"time_to_p[...]
