---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&apple_idfa_tracking_enabled=false&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=0d2b1d893cb27897397fd829930b5999dbf10c2f&ip=109.235.143.113&locale=de&offer_types=112&page=1&pub0=testpub&timestamp=1431520710&uid=testuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 2e84d1cc186064078dc64a968681cf214cbddf12
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
    body:
      encoding: ASCII-8BIT
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=testuid"},"offers":[]}'
  recorded_at: Wed, 13 May 2015 12:38:31 GMT
recorded_with: VCR 2.9.3
