<h1>Fyber Offer API Consumer</h1>

<div class="container-fluid">
  <h2>You can use this app to retrieve mobile add offers from 
      <a href="http://www.fyber.com/" target="_blank">Fyber</a>
  </h2>

  <h3>
    Start now by clicking <%= link_to "HERE", offers_path %>
  </h3>
</div>
